.custom-search {
    width: 550px;

    margin-top: 10px;
}

.open-search{
    height: auto;
    min-width: 550px;

    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.custom-select{
    margin-top: 10px;
    width: 250px;
}

.container-title{
    font-size: 25px;
    font-weight: bold;

    display: block;
    text-align: center;
}

.department-title{
    font-size: 15px;
    font-weight: bold;

    margin-right: 5px;

    user-select: none;
}